# =========================

# Dataset

# =========================

data/

# =========================

# Model checkpoints

# =========================

outputs/checkpoints/

# =========================

# WandB logs

# =========================

wandb/

# =========================

# Python cache files

# =========================

**pycache**/
*.pyc
*.pyo
*.pyd

# =========================

# Jupyter notebook checkpoints

# =========================

.ipynb_checkpoints/

# =========================

# Virtual environments

# =========================

venv/
.env/

# =========================

# OS-specific files

# =========================

.DS_Store
Thumbs.db

# =========================

# Misc

# =========================

*.log
